
@media (max-width:767.98px){
  .facebook-icon svg{
    width: 10px;
    height: 17px;
  }

  .insta-icon svg{
    width: 17px;
    height: 17px;
  }
  .twitter-icon svg{
    width: 18px;
    height: 15px;
  }
  .linkedin-icon svg{
    width: 20px;
    height: 19px;
  }
}